<dt><span class="color-square" style="background:{{color}}"></span>
{{#if nonautomated}}
<a href="/musikanimal/nonautomated_edits?username={{username}}&offset=0&namespace={{id}}&contribs=on&tools=on">{{title}}</a>
{{else}}
{{title}}
{{/if}}
</dt><dd>{{value}} ({{percentage}}%)</dd>