{{file_count}} file{{#plural}}s{{/plural}} found for <a href="{{project_path}}/wiki/{{composer}}">{{composer}}</a>

<ul class="sound-list">
  {{#files}}
    <li class="sound-list-file">
      <a href="https://commons.wikimedia.org/wiki/{{title}}">{{title}}</a>
      <audio src="{{source}}" controls></audio>
    </li>
  {{/files}}
  {{#if links}}
    Links: {{#link}}{{this}}&nbsp;{{/link}}
  {{/if}}
</ul>