{{file_count}} file{{#if plural}}s{{/if}} found for <a href="{{project_path}}/wiki/{{composer}}">{{composer}}</a>
{{#if unused_count includeZero=true}}<br/>{{unused_count}} file{{#if unused_plural}}s{{/if}} are unused{{/if}}

<small class="note">Elapsed time: <span class="elapsed-time">{{elapsed_time}}</span> seconds</small>

<ul class="sound-list"></ul>