<li>
  <a href="{{project_path}}/wiki/Special:PermaLink/{{rev_id}}">{{datestamp}}</a>
  (<a href="{{project_path}}/wiki/Special:Diff/{{rev_id}}">diff</a> | <a href="{{project_path}}/w/index.php?title={{page_title}}&action=history">hist</a>)
  . .
  {{#if minor_edit}}<span class="minor-edit">m</span>{{/if}}
  <a href="{{project_path}}/wiki/{{page_title}}">{{humanized_page_title}}</a>
  (<i>{{rev_comment}}</i>)
</li>