<a href="{{project_path}}/wiki/User:{{username}}">{{username}}</a> has approximently <b>{{nonautomated_count}}</b> non-automated edits {{{namespace_str}}}

<dl>
  <dt>Total edits</dt><dd>{{total_count}}</dd>
  <dt>Automated edits</dt><dd>{{automated_count}} ({{automated_percentage}}%)</dd>
  <dt>Nonautomated edits</dt><dd>{{nonautomated_count}} ({{nonautomated_percentage}}%)</dd>
</dl>