{{#if replication_lag}}<p class='error'>High replication lag: Data newer than {{replication_lag}} seconds may not be shown</p>{{/if}}
<a href="{{project_path}}/wiki/User:{{username}}">{{username}}</a> has approximently <b>{{nonautomated_count}}</b> non-automated edits {{{namespace_str}}}

{{#if namespace_text}}<p>Totals for the <b>{{namespace_text}}</b> namespace:</p>{{/if}}

<dl>
  <dt>Total edits</dt><dd>{{total_count}}</dd>
  <dt>Automated edits</dt><dd>{{automated_count}}{{#if automated_percentage}} ({{automated_percentage}}%){{/if}}</dd>
  <dt>Non-automated edits</dt><dd>{{nonautomated_count}}{{#if nonautomated_percentage}} ({{nonautomated_percentage}}%){{/if}}</dd>
</dl>

<a href="/musikanimal/namespace_counter?username={{username}}&nonautomated=on">See non-automated counts by namespace</a>

<small class="note">Note: Edit counts do not include those of deleted pages. All data is approximate.</small>

<small class="note">Elapsed time: <span class="elapsed-time">{{elapsed_time}}</span> seconds</small>