<a href="{{project_path}}/wiki/User:{{username}}">{{username}}</a> has approximently <b>{{blp_count}}</b> {{#if nonautomated}}nonautomated{{/if}} edits to <a href="{{project_path}}/wiki/WP:BLP">biographes of living persons</a>

<dl>
  <dt>Total edits</dt><dd>{{total_count}}</dd>
  <dt>BLP edits</dt><dd>{{blp_count}} ({{blp_percentage}}%)</dd>
  {{#if nonautomated}}<dt>Nonautomated BLP edits</dt><dd>{{nonautomated_blp_count}} ({{nonautomated_blp_percentage}}%)</dd>{{/if}}
</dl>

<small>Note: Edit counts do not include those of deleted pages. All data is approximate.</small>