<a href="{{project_path}}/wiki/User:{{username}}">{{username}}</a> has approximently <b>{{category_count}}</b> total {{#if nonautomated}}nonautomated{{/if}} edits to the given categories

<dl>
  <dt>Total edits</dt><dd>{{total_count}}</dd>
  <dt>Total {{#if nonautomated}}nonautomated {{/if}}category edits</dt><dd>{{category_count}} ({{category_percentage}})</dd>
</dl>

<dl class='category-counts'></dl>

<small>Note: Edit counts do not include those of deleted pages. All data is approximate.</small>